deb http://deb.debian.org/debian {{ ansible_lsb.codename }} main contrib non-free
deb http://deb.debian.org/debian {{ ansible_lsb.codename }}-updates main contrib non-free
deb http://deb.debian.org/debian-security {{ ansible_lsb.codename }}/updates main contrib non-free
