deb http://archive.debian.org/debian {{ ansible_lsb.codename }} main contrib non-free
deb http://archive.debian.org/debian-security {{ ansible_lsb.codename }}/updates main contrib non-free
deb http://archive.debian.org/debian {{ ansible_lsb.codename }}-backports main contrib non-free
deb http://archive.debian.org/debian {{ ansible_lsb.codename }}-backports-sloppy main contrib non-free
