deb http://deb.debian.org/debian/ jessie main contrib non-free
deb http://archive.debian.org/debian/ jessie contrib main non-free
deb http://deb.debian.org/debian-security jessie/updates main contrib non-free
