deb http://archive.ubuntu.com/ubuntu {{ ansible_lsb.codename }} main restricted
deb http://archive.ubuntu.com/ubuntu {{ ansible_lsb.codename }}-updates main restricted
deb http://security.ubuntu.com/ubuntu {{ ansible_lsb.codename }}-security main
deb http://security.ubuntu.com/ubuntu {{ ansible_lsb.codename }}-security universe
